&usart2 {
    current-speed = <9600>;
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    status="okay";
    hpma115: hpma115_0 {
        compatible = "honeywell,hpma115";
        status="okay";
        label = "hpma115_0";
    };
};